        <h4 class="center">Active Animal Profiles</h4>

        <div class="col s10 pet-table ">
          <table class="highlight">
            <thead>
              <tr class="grey lighten-3 tabpad">
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Type</th>
                <th>Breed</th>
                <th>Date Added</th>
                <th>Status</th>
                <th>Update</th>
                <th>Delete</th>
              </tr>
            </thead>
      
            <tbody>
              <tr>
                <td>{{pet.id}}</td>
                <td>{{pet.pet_name}}</td>
                <td>{{pet.pet_age}}</td>
                <td>{{pet.pet_type}}</td>
                <td>{{pet.pet_breed}}</td>
                <td>{{}}</td>
                <td>{{}}</td>
                <td><a class="btn-floating btn-small waves-effect waves-light blue"><i class="material-icons">create</i></a></td>
                <td><a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">clear</i></a></td>
              </tr>
            </tbody>
            
          </table>
        </div>